In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# store csv created from part on in df
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-06-07 22:33:24,-46.1927,168.8643,282.86,73,3,0.92
1,1,Okhotsk,RU,2021-06-07 22:33:24,59.3833,143.3000,282.34,78,69,2.25
2,2,Tabou,CI,2021-06-07 22:33:25,4.4230,-7.3528,299.38,79,90,3.72
3,3,Wilmington,US,2021-06-07 22:28:37,34.2257,-77.9447,301.45,81,75,4.63
4,4,Yatou,CN,2021-06-07 22:33:25,37.1500,122.3833,293.97,76,92,3.39
5,5,New Norfolk,AU,2021-06-07 22:33:26,-42.7826,147.0587,284.87,80,96,1.47
6,6,Bluff,NZ,2021-06-07 22:33:26,-46.6000,168.3333,283.04,77,9,2.55
7,7,Pangody,RU,2021-06-07 22:33:26,65.8500,74.4859,276.79,69,69,2.84
8,8,Castro,BR,2021-06-07 22:33:27,-24.7911,-50.0119,284.96,98,75,1.59
9,9,Bredasdorp,ZA,2021-06-07 22:33:27,-34.5322,20.0403,285.77,67,100,2.17

In [3]:
# for gmaps, our data must be either floating point or int
# use dtypes to check column types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use google api key
gmaps.configure(api_key=g_key)

In [ ]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
       temps.append(max(temp, 0))
    
# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# for loop list comprehension:
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

In [ ]:
# gmaps do not plot negative numbers. if you have a max temp that
# is less than 0F, will get InvalidWeightException Error
# use forloop to remove any negative temperatures

In [ ]:
# add this to the previous block of code and run it in the same cell
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# in this code we are using the function max() to get the max temperature
# between the max temp in the column and 0

In [ ]:
# we can change the for loop using list comprehension and use within heatlayer map
[max(temp, 0) for temp in max_temp]
# implemeting above in heat_layer variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp])

In [ ]:
# you can adjust the map with the center of Earth in the form of latitude and longitude (30.0° N and 31.0° E)
# you can also control the zoom level using zoom_level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [ ]:
# in gmaps.heat_layer() there are options for attributes
# dissipation is true(default) and we can change to false
# we can add max_intensity, and point_radius
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

In [ ]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=200, point_radius=5)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [5]:
# ask the customer for min and max temperature value
# we convert the string input into a float
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 200
What is the maximum temperature you would like for your trip? 280

In [6]:
# we take the customer's criteria and use loc method on current df
# add brackets and conditional
# # Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Pangody,RU,2021-06-07 22:33:26,65.8500,74.4859,276.79,69,69,2.84
14,14,Khatanga,RU,2021-06-07 22:33:29,71.9667,102.5000,274.12,81,96,6.34
15,15,Saskylakh,RU,2021-06-07 22:33:29,71.9167,114.0833,276.57,55,49,5.60
35,35,Punta Arenas,CL,2021-06-07 22:32:44,-53.1500,-70.9167,277.21,81,0,5.35
36,36,Ushuaia,AR,2021-06-07 22:33:37,-54.8000,-68.3000,276.96,81,40,2.06
51,51,Tasiilaq,GL,2021-06-07 22:33:42,65.6145,-37.6368,278.24,90,67,1.06
58,58,Pevek,RU,2021-06-07 22:33:45,69.7008,170.3133,275.39,89,88,0.22
63,63,Barrow,US,2021-06-07 22:33:44,71.2906,-156.7887,273.16,86,90,9.77
77,77,Dikson,RU,2021-06-07 22:33:52,73.5069,80.5464,272.46,94,100,5.01
83,83,Nanortalik,GL,2021-06-07 22:33:54,60.1432,-45.2371,279.37,77,100,1.21

In [7]:
# check to see if there are any null values
preferred_cities_df.count()

City_ID       45
City          45
Country       45
Date          45
Lat           45
Lng           45
Max Temp      45
Humidity      45
Cloudiness    45
Wind Speed    45
dtype: int64

In [12]:
# we dont want to alter our filtered df because it needs to change
# every input. we need to create a new df hotel_df
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(5)

            City Country  Max Temp      Lat       Lng Hotel Name
7        Pangody      RU    276.79  65.8500   74.4859
14      Khatanga      RU    274.12  71.9667  102.5000
15     Saskylakh      RU    276.57  71.9167  114.0833
35  Punta Arenas      CL    277.21 -53.1500  -70.9167
36       Ushuaia      AR    276.96 -54.8000  -68.3000

In [13]:
# we will use maps api to get nearest hotels by parameters
# refer to documentation to get keywords for dictionary
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# we can use iterrows() function to perform iteration over hoteldf
# we need to supply 2 indexes, index&row
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Pangody,RU,276.79,65.8500,74.4859,Elizaveta Shevchuk's House
14,Khatanga,RU,274.12,71.9667,102.5000,"Gostinitsa ""Zapolyar'ye"""
15,Saskylakh,RU,276.57,71.9167,114.0833,
35,Punta Arenas,CL,277.21,-53.1500,-70.9167,Hotel Dreams Del Estrecho
36,Ushuaia,AR,276.96,-54.8000,-68.3000,Albatros Hotel
51,Tasiilaq,GL,278.24,65.6145,-37.6368,The Red House
58,Pevek,RU,275.39,69.7008,170.3133,Hotel ABC
63,Barrow,US,273.16,71.2906,-156.7887,King Eider Inn
77,Dikson,RU,272.46,73.5069,80.5464,
83,Nanortalik,GL,279.37,60.1432,-45.2371,Hotel Kap Farvel

In [22]:
# before adding popup markers with hotel info, we need to create one first using max temp
# reusing old code:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=400, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# refer to gmaps documentation on how to add markers
# syntax: markers=gmap.marker_layer(marker_locations) 
# where marker_locations are lat,lng
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))